@{
    ViewBag.Title = "Chambix - Mis datos personales";
}

<section class="accounts">
    <div class="container">

        <div class="row">
            <div class="col d-none d-sm-none d-md-block d-lg-block d-xl-block"></div>
            <div class="col-xs-12 col-sm-10 accounts_body_posts">
                <h3 class="post_title">Mis datos personales</h3>
            </div>
            <div class="col d-none d-sm-none d-md-block d-lg-block d-xl-block"></div>
        </div>

        <div class="row">
            <div class="col d-none d-sm-none d-md-block d-lg-block d-xl-block"></div>
            <div class="col-xs-12 col-sm-10 accounts_body_form">
                <form action="/Account/UpdateUsuario" method="post">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <strong class="fw-bold">Nombres</strong>
                                    <input class="form-control" type="text" name="nombres" value=" @ViewBag.UsuarioDatos.nombreUsuario" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <strong class="fw-bold">Apellido</strong>
                                    <input class="form-control" type="text" name="apellidos" value="@ViewBag.UsuarioDatos.apellidoUsuario" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <strong class="fw-bold">Correo electrónico</strong>
                                    <input class="form-control" type="email" name="correo" value="@ViewBag.UsuarioDatos.emailUsuario" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                @Html.DropDownList("cboDistritos", (IEnumerable<SelectListItem>)ViewBag.ListarDistritos, htmlAttributes: new { @class = "form-select" })

                            </div>
                        </div>

                        <div class="row">

                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <strong class="fw-bold">Contraseña</strong>
                                    <input class="form-control" type="password" name="contrasena" value="@ViewBag.UsuarioDatos.contrasenaUsuario" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <strong class="fw-bold">Ocupación</strong>
                                    <input class="form-control" type="text" name="ocupacion" value="@ViewBag.UsuarioDatos.ocupacionUsuario" />
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <strong class="fw-bold">Número de celular</strong>
                                    <input class="form-control" type="text" name="celular" value="@ViewBag.UsuarioDatos.cellUsuario" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <strong class="fw-bold">wsp</strong>
                                    <input class="form-control" type="text" name="wsp" value="@ViewBag.UsuarioDatos.wspUsuario" />
                                </div>
                            </div>


                        </div>


                        <div class="row">
                            <div class="col-6">
                                &nbsp;
                            </div>
                            <div class="col-6">
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <input type="submit" class="btn btn-login" value="Guardar cambios" />
                                    @Html.ActionLink("Mis publicaciones", "Index", "Account", null, new { @class = "btn btn-outline-primary" })
                                </div>
                            </div>
                            <div class="col-6 d-none d-sm-block">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col d-none d-sm-none d-md-block d-lg-block d-xl-block"></div>
        </div>

    </div>
</section>